@import './base.css';
@import 'tailwindcss';
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'Custom';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(60% 0.126 221.723);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'Custom';
  default: false;
  prefersdark: true;
  color-scheme: 'light';
  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(14% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(60% 0.126 221.723);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

::-webkit-progress-value {
  transition: width 2s;
}

html,
body,
#app {
  overflow: hidden;
  min-height: 100%;
  height: 100%;
  @media (min-width: 768px) {
    min-height: 100%;
    height: 100%;
  }
}

#app {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.steps,
.step {
  min-width: 32px;
}

.step.inactive {
}
